.container-fluid {
  background-color: white;
  padding-bottom: 10px;
}

@media only screen and (max-height: 450px) and (orientation: landscape) and (max-width: 890px) {
  .content {
    max-height: 250px;
  }
}


.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}


.modal-content {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%); 
}
